*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-nav{
    margin-left: 30%;
}
.bg-intro{
    position: absolute;
    z-index: -100;
    width: 700px;
    margin-top: -50px;
    min-width: 700px;
    max-width: 7000px;
}
.phones{
    position: absolute;
    width: 500px;
    margin-left: 100px;
    min-width: 500px;
    max-width: 500px;
    margin-top: -40px;
    z-index: -1;
}
.texts{
    margin-top: 200px;
    padding-left: 200px;
}
.texts h1{
    padding-right: 100px;
    font-weight: 100;
    letter-spacing: 2px;
}
.texts p{
    padding-right:100px;
    font-family: sans-serif;
    color: gray;
    margin-top: 20px;
}
.texts button{
    border: none;
    background: linear-gradient(90deg, rgba(143,255,58,1) 0%, rgba(69,255,86,1) 30%, rgba(22,255,70,0.8169861694677871) 100%);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
.reasons_why{
    margin-top: 10%;
    background-color: rgb(244, 245, 247);
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
}
.reasons_why h1{
    margin-bottom: 30px;
}
.reasons_why .description{
    margin-bottom: 100px;
    color: grey;
    padding-right: 450px;
}
.reasons_why h3{
    margin-top: 20px;
}
.articles{
    margin: 5% 10%;
}
.card{
    width: 100%;
}
.articles h1{
    margin-bottom: 50px;
}
.articles h6, .articles p{
    color: gray;
}
footer{
    padding: 2% 10%;
    background-color: rgb(46, 49, 76);
}
footer p{
    color: white;
    font-weight: 900;
    font-size: 20px;
}
footer .col-lg-2 a{
    margin-right: 5px;
}
footer .col-lg-7{
    padding-left: 100px;
    display: block;
    margin: auto;
}
footer .col-lg-7 a{
    text-decoration: none;
    color: rgb(206, 206, 206);
}
footer .col-lg-3 button{
    border: none;
    background: linear-gradient(90deg, rgba(143,255,58,1) 0%, rgba(69,255,86,1) 30%, rgba(22,255,70,0.8169861694677871) 100%);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
footer .col-lg-3 p{
    font-size: 15px;
    margin-top: 30px;
}
footer .col-lg-2 p{
    margin-top: 20px;
}
@media only screen and (max-width:991px) {
    .navbar-nav{
        margin-left: 20px;
    }
    .texts{
        margin-top: 0;
    }
    .bg-intro{
        display: none;
    }
    .phones{
        display: none;
    }
    .texts{
        padding: 200px 100px;
    }
    .reasons_why{
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
    .reasons_why .description{
        padding-right: 0;
    }
    footer {
        padding: 0;
        text-align: center;
    }
    footer a{
        margin: 30px 5px;
    }
    footer .col-lg-2 {
        margin: 40px 5px;
    }
    footer .col-lg-7{
        padding-left: 0;
        margin: 20px 0;
    }
    footer .col-lg-3{
        margin-top: 30px;
    }
}
@media only screen and (max-width:768px) {
    .card{
        width: 100%;
        margin-bottom: 50px;
    }    
}
@media only screen and (max-width:700px) {
    .card{
        width: 100%;
        margin-bottom: 50px;
    }    
    .texts{
        padding: 100px 50px;
        text-align: center;
    }
    .texts h1{
        padding-right: 0;
    }
    .texts p{
        padding-right: 0;
    }
    footer .col-lg-7 {
        text-align: center;
    }
    footer .col-lg-3 button {
        display: block;
        margin: 20px auto;
    }
    footer .col-lg-2{
        text-align: center;
    }
}